node_modules/
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
dist/
build/
.cache/

# Logs
# -----------------------
logs/
*.log
*.log.*
logfile
*.pid
*.seed
*.pid.lock

# -----------------------
# System
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# IDEs / Editors
# -----------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# -----------------------
# Uploads / Assets
# -----------------------
uploads/
public/uploads/
tmp/
*.bak
*.swp

# -----------------------
# Test / Coverage
# -----------------------
coverage/
.nyc_output/
jest-coverage/

# -----------------------
# Other
# -----------------------
*.tgz
*.tar.gz
*.zip
*.bak
*.orig
*.rej
